.Navbar {
  position: absolute;
  width: 100%;
  top: 20px;
  left: 0;
  background-color: #ffffff;
  height: 60px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.Navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

.Logo {
  margin-left: 0.5rem;
}

@media (min-width: 769px) {
  .ToggleButton {
    display: none;
  }
}
