.Container {
  position: fixed;
  top: 50%;
  z-index: 500;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 500px;
  background: #ffffff;
  font-family: "Rasa", serif;
  color: #00344b;
}

.ImgContainer {
  width: 300px;
  height: 320px;
  margin: 0 auto;
}
.Img {
  max-width: 100%;
  max-height: 100%;
}
.Container > h3,
.Container > h4 {
  text-transform: uppercase;
  margin: 0.2rem 0.2rem;
  text-align: center;
}
.BtnContainer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}
.BackButton,
.CartBtn {
  color: #00344b;
  border: 2px solid #414141;
  width: 10rem;
  padding: 0.5rem 0.5rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  background: transparent;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}
.BackButton:hover,
.CartBtn:hover {
  background: #00344b;
  color: white;
}
